<% include ../partials/header %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<div class="form-group">
    <label for="my-input">Text</label>
    <select id="my-input" class="custom-select">
        <option>Text</option>
    </select>
</div>
<div class="form-group">
    <label for="my-input">Text</label>
    <input id="my-input" class="form-control" type="text">
</div>
<button class="btn btn-primary" type="button">Text</button>

<% include ../partials/footer %>