<% include ../partials/header %>
<pre>
<div id="drop">


             <b>Drop a spreadsheet file here to change table data</b>    



</div>
</pre>
<table id="data-table">
  <tr><td contenteditable="true" colspan="4">Imported File Template</td></tr>
  <tr><td contenteditable="true">This</td><td contenteditable="true">is</td><td contenteditable="true">a</td><td contenteditable="true">Template</td></tr>
  <tr><td contenteditable="true">It</td><td contenteditable="true">will</td><td contenteditable="true">be</td><td contenteditable="true">replaced</td></tr>
</table>
<br />

	<p id="xportxlsx" class="xport"><input type="submit" value="Export to XLSX!" onclick="doit('xlsx');"></p>
	<p id="xlsxbtn" class="btn">Flash required for actually downloading the generated file.</p>
	<p id="xportxlsb" class="xport"><input type="submit" value="Export to XLSB!" onclick="doit('xlsb');"></p>
	<p id="xlsbbtn" class="btn">Flash required for actually downloading the generated file.</p>
	<p id="xportcsv" class="xport"><input type="submit" value="Export to CSV!" onclick="doit('csv');"></p>
	<p id="csvbtn" class="btn">Flash required for actually downloading the generated file.</p>


<script type="text/javascript" src="/scripts/xlsx-footer.js"></script>
<% include ../partials/footer %>