<% include ../partials/header %>
<h1 style="text-align: center">Upload a New photo</h1>
<div class=jumbotron>
  <form method="post" action="/uploads" class="dropzone" id="dropzone-example">
    <div class="fallback">
      <input name="file" type="file" multiple />
    </div>
  </form>
</div>
<% include ../partials/scripts %>
<script type="text/javascript" src="/scripts/dropzone.js"></script>
<% include ../partials/footer %>