<% include ../partials/header %>
<div class="container">
    <div style="width: 30%; margin: 25px auto;">
        <div class="row">
            <h1 style="text-align: center">Excel File Loaded</h1>
            <br>
            <p>Filename:<%= filename %><p>
            <p>Sheetname:<%=sheetname %></p>
            <p>Data: <%= data %></p>   
        </div>
        <%= table %>
        <a href="/api/xlsx"><button class="btn btn-primary btn-block">Go Back</button></a>
    </div>
</div>
<% include ../partials/footer %>