.thumbnail img {
	width: 100%;
}

.thumbnail {
	padding: 0;
}

.thumbnail .caption-full {
	padding: 9px;
}

.xport {
	display: inline;
	text-align: center;
}
a {
	text-decoration: none;
}

#data-table{
	margin-left:auto; 
    margin-right:auto;
}
#data-table th,
#data-table td {
	border: 1px solid #bbb;
	font-size:10px !important;
	max-width: 100px;
}

.nav-bottom{
	margin-left:auto; 
    margin-right:auto;
}