<% include ../partials/header %>
<div class="container">
    <div style="width: 100%; margin: 25px auto;">
        <div class="jumbotron">
            <h1 style="text-align: center">티몰 주문 리스트</h1>
        </div>
    </div>
    <div id="data-table">
        <%- Orders %>
    </div>
</div>
</div>
<div style="width: 30%; margin: 25px auto;">
    <div class="form-group">
        <input class="form-control " id="filename" type="text" Placeholder="file name" name="filename" />
    </div>
    <br>
    <div class="form-goup" id="xportxlsx">
        <input class="btn btn-outline-secondary btn-block" type="submit" name="submit" value="Export to XLSX!" onclick="doit('xlsx');">
    </div>
    <br>
    <a href="/tmall/orders"><button class="btn btn-outline-secondary btn-block">다른 티몰오더보기</button></a>
    <br>
    <a href="/tmall/item"><button class="btn btn-outline-secondary btn-block">티몰 제품관리</button></a>
    <br>
    <a href="/tmall/search"><button class="btn btn-outline-secondary btn-block">티몰 제품검색</button></a>
    <br>
    <a href="/tmall/search"><button class="btn btn-outline-secondary btn-block">티몰 홈</button></a>
    <br>
    <a href="/api"><button class="btn btn-outline-secondary btn-block">관리 홈</button></a>
</div>
</div>
<% include ../partials/scripts %>
<script type="text/javascript" src="/scripts/xlsx-util.js"></script>
<% include ../partials/footer %>