<% include ../partials/header %>
<div class="container">
    <div style="width: 30%; margin: 25px auto;">
        <div class="row">
            <h1 style="text-align: center">Now we have</h1>
            <br>
            <p>Orders</p>
            <p> <%= JSON.stringify(Products) %></p>
        </div>
        <br>
        <a href="/tmall"><button class="btn btn-primary btn-block">Go Back</button></a>
    </div>
</div>
<% include ../partials/footer %>